.home-container {
    background-image: url('../assets/homescreenbackground.jpg'); /* Replace with your sports background image URL */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  
  .hero {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
  }
  
  .hero-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .hero-subtitle {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .hero-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
  }
  
  .hero-button:hover {
    background-color: #0056b3;
  }